.contact-section {
    text-align: center;
    h2 {
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        button {
            background-color: #00acb538;
            height: 40px;
            border-radius: 20px;
            border: 2px solid #00ADB5;
            color: #00ADB5;
            &:hover {
                background-color: #00acb5;
                color: #fff;
            }
        }
    }
}