:root {
	font-family: "Poppins", serif;

	color-scheme: light dark;
	body {
		color: rgba(255, 255, 255, 0.87);
		background-color: #222831 !important;
	}

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #00adb5;
	text-decoration: inherit;
}
a:hover {
	color: #17c8d1;
}

h2 {
	font-size: 28pt;
}

span {
	color: #00adb5;
}
